In [53]:
import pandas as pd
import load_data
from importlib import reload
reload(dataset_creation)

In [30]:
test = load_data.generate_dataset()
test

,player_first_name,player_second_name,player_ID,player_chance_of_playing_next_round,player_position,player_news,player_cost,player_status,team_ID
0,Bernd,Leno,1,NaN,1,,50,a,1
1,Rúnar Alex,Rúnarsson,2,0.0,1,Illness - Expected back 28 Aug,40,i,1
2,Willian,Borges Da Silva,3,50.0,3,Illness - 50% chance of playing,64,d,1
3,Pierre-Emerick,Aubameyang,4,100.0,4,,99,a,1
4,Cédric,Soares,5,NaN,2,,45,a,1
...,...,...,...,...,...,...,...,...,...
561,José,Malheiro de Sá,475,NaN,1,,50,a,20
562,Patrick,Cutrone,523,0.0,4,Season long loan to Empoli,50,u,20
563,Luke,Cundle,547,NaN,3,,45,a,20
564,Chem,Campbell,548,NaN,3,,45,a,20
565,Christian,Marques,549,NaN,2,,40,a,20